.thread-selftext > a {
    display: block;
}

.comment-replies, .comment-noreply {
    padding: 0.8rem;
}

.thread-collapse {
    display: none;
}

/* Styles for comment threads by layer of replies */
.layer-0 {
    background-color: orangered;
}

.layer-1 {
    margin-left: 1.5rem;
    background-color: sandybrown;
}

.layer-2 {
    margin-left: 3rem;
    background-color: tan;
}

.layer-3 {
    margin-left: 4.5rem;
    background-color: gray
}

.layer-4 {
    margin-left: 6rem;
    background-color: cadetblue;
}

.layer-5 {
    margin-left: 7.5rem;
    background-color: seagreen;
}

.layer-6 {
    margin-left: 9rem;
    background-color: lightskyblue
}

