.thread-selftext > a {
    display: block;
}

.comment-body {
    display: block; 
}

.comment-replies, .comment-noreply {
    padding: 0.8rem;
}

.comment-container {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    width: inherit;
}

.collapse-replies div, .load-more{
    display: none;
}

.collapse-replies .comment-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapse-replies.comment-container {
    color: gray;
    background-color: gainsboro;
}

/* Styles for comment threads by layer of replies */
.layer-0 {
    background-color: orangered;
}
.is-reply {
    margin-left: 1.5rem;
}
.layer-1 {
    background-color: sandybrown;
}

.layer-2 {
    background-color: tan;
}

.layer-3 {
    background-color: gray
}

.layer-4 {
    background-color: cadetblue;
}

.layer-5 {
    background-color: seagreen;
}

.layer-6 {
    background-color: lightskyblue
}

.layer-7 {
    background-color: lightcyan;
}

.layer-8 {
    background-color: lightgoldenrodyellow;
}