.thread-selftext > a {
    display: inline;
}

.comment-body {
    display: block; 
    margin-left: 1rem;
}

.comment-replies, .comment-noreply {
    padding: 0.8rem;
}

.comment-container {
    border: 1px solid black;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    width: inherit;
}

.collapse-replies div, .load-more{
    display: none;
}

.collapse-replies .comment-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapse-replies.comment-container {
    color: gray;
    background-color: gainsboro;
}
.collapse-replies .comment-user {
    color: gray;
}

/* Content Styling */
.thread-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.thread-content h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
}
.thread-content img {
    max-height: 90vh;
    max-width: 95%;
}
.thread-content hr {
    margin-top: 1rem;
}

.thread-content h3 {
    margin: 1rem 0rem;
}

/* Comments - Other Elements */
.comment-user, .comment-details a {
    text-decoration: none;
}
.comment-details {
    margin-left: 1rem;
    padding-bottom: 0.2rem;
}
.comment-details * {
    display: inline;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
}

/* Styles for comment threads by layer of replies */
.layer-0 {
    /* background-color: orangered; */
    background-color: rgb(135, 206, 250);
}
.is-reply {
    margin-left: 1.5rem;
}
.layer-1 {
    /* background-color: sandybrown; */
    background-color: rgb(167, 219, 252);
}

.layer-2 {
    /* background-color: tan; */
    background-color: rgb(194, 231, 253);
}

.layer-3 {
    /* background-color: gray */
    background-color: rgb(210, 238, 255);
}

.layer-4 {
    /* background-color: cadetblue; */
    background-color: rgb(225, 242, 252);
}

.layer-5 {
    /* background-color: seagreen; */
    background-color: rgb(135, 206, 250);
}

.layer-6 {
    /* background-color: lightskyblue */
    background-color: rgb(167, 219, 252);
}

.layer-7 {
    /* background-color: lightcyan; */
    background-color: rgb(194, 231, 253);
}

.layer-8 {
    /* background-color: lightgoldenrodyellow; */
    background-color: rgb(210, 238, 255);
}

.layer-9 {
    background-color: rgb(225, 242, 252);
}   