.posts-page {
    /* display:  flex; */
    /* grid-template-columns: subgrid;
    grid-column:  2 / span 8; */
    margin: 0px auto;
    padding: 0px 1rem;
}

.posts-container {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    /* grid-template-columns: subgrid;
    grid-column: 1 / 1 / auto / span 8; */
    margin: 1rem;
}

.posts-subreddit-header {
    margin: 0rem 0rem 2rem 1rem;
}

/* Handling for Posts Cards */
.posts-post {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    min-height: 20rem;
    max-height: 35rem;
    border-radius: 2%;
    /* box-shadow: 1px 1px rgba(0,0,0,0.5); */
    border: 1px solid rgb(92, 92, 92);
    padding: 1rem;
    justify-content: space-between;
    position: relative;
    font-weight: 400;
}
/* Handles Background colors for odd/even cards */
/* Even Cards - Dark Background, white text */
.posts-post:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}
.posts-post:nth-child(even) .posts-post-link,
.posts-post:nth-child(even) .MuiButton-outlined,
.posts-post:nth-child(even) .MuiButton-text,
.posts-post:nth-child(even) .posts-post-user {
    color: white;
}
.posts-post:nth-child(even) .posts-post-link:visited {
    color: lightslategray;
}
.posts-post:nth-child(even):hover {
    background-color:rgba(41, 41, 41, 0.774);
    transition: background-color ease-in-out 0.2s;
}

.posts-post:nth-child(even) .MuiButton-outlined {
    border: 1px solid white;
}

.posts-post:nth-child(even) .MuiButton-outlined:hover {
    background-color: rgba(0,0,0,0.5);
    transition: background-color ease-in-out 0.2s;
}
.posts-post:nth-child(even) .MuiButton-text:hover, 
.posts-post:nth-child(even) .posts-post-spoiler:hover
.posts-post:nth-child(even) .posts-post-nsfw:hover  {
    text-shadow: 0 0 5px #fff;
    transition: text-shadow ease-in 0.2s;
}

/* Cards - Light Background */
.posts-post:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.6);
}
.posts-post:nth-child(odd),
.posts-post:nth-child(odd) .posts-post-link,
.posts-post:nth-child(odd) .posts-post-user,
.posts-post:nth-child(odd) .MuiButton-text,
.posts-post:nth-child(odd) .MuiButton-outlined {
    color: #0f4a85;
}

.posts-post:nth-child(odd):hover {
    background-color: rgba(170, 170, 170, 0.8);
    border: 1px solid black;
    transition: background-color ease-in-out 0.2s, border ease-in 0.1s;
}
.posts-post:nth-child(odd) .MuiButton-outlined:hover {
    background-color: rgba(25, 118, 210, 0.2);
    transition: background-color ease-in-out 0.2s, border ease-in 0.1s;
}
.posts-post:nth-child(odd) .MuiButton-text:hover,
.posts-post:nth-child(odd) .posts-post-spoiler:hover {
    text-shadow: 0 0 5px #6bb5ff;
    background-color: initial;
    transition: text-shadow ease-in 0.2s;
}

/* Link & Thumbnail Styles */
.posts-post a {
    text-decoration: none;
    align-self: center;
}

.posts-post-thumbnail, .posts-vid-thumbnail, .posts-link-thumbnail {
    max-width: 85%;
    max-height: calc(35rem * 0.7);
    align-self: center;
    overflow: hidden;
    object-fit: cover;
}
.posts-post-thread{
    margin-left: 5%;
    padding: 0.5rem;
    display: inline;
}

.posts-post-score {
    padding: 0.5rem;
}

.posts-post-link {
    padding: 0.5rem;
    display: inline;
}

.posts-post-nothumb {
    margin: 0px 5%;
}

.posts-post-thread, .posts-postnumComments {
    display: inline;
}

.posts-post-nsfw, .posts-post-spoiler {
    align-self: center;
    font-size: 1.5rem;
    font-family: maxular-rx, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4rem;
}


.posts-post-score {
    align-self: flex-start;
}

.posts-post-user {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Buttons & Card Data */
.posts-post-threadTray {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.posts-post-threadTray .thread-text {
    font-size: 0.85rem;
}

/* .posts-page .posts-pageNav, .thread-page .posts-pageNav {
    margin: 1rem 1rem 2rem 1rem;
} */

.posts-page .posts-pageNav:hover, .thread-page .posts-pageNav:hover {
    background-color: rgba(25, 118, 210, 0.2);
    transition: background-color ease-in-out 0.2s, border ease-in 0.1s;
}

.posts-topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.posts-nav-tray {
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
}

/* Thread Page Exclusive Styles */
.thread-page .posts-pageNav:first-of-type {
    margin-left: 0px;
}
.thread-page .posts-pageNav:last-of-type {
    margin-left: 0px;
}

/* Video Card Styles */
.vid-thumb-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.vid-thumb-icon {
    box-sizing: border-box;
    position: absolute;
    align-self: center;
    /*left: 50%;
    transform: translateX(-50%); */
    z-index: 5;
    font-size: 2rem;
}

/* Screen Breakpoints */

/* Tablets, Large Phones in Landscape*/
@media screen and (min-width: 480px) {
    .posts-post {
        width: 45%;
    }
    .posts-page .posts-pageNav:first-of-type {
        margin-left: 1.75rem;
    }
    .posts-page .posts-pageNav:last-of-type {
        margin-right: 1.75rem;
    }
}

/* Large Tablets in Landscape, Desktop */
@media screen and (min-width: 1400px) {
    .posts-page {
        padding: initial;
    }
    .posts-container {
        margin: initial;
    }
    .posts-post {
        width: 28%;
    }
    .posts-nav-tray {
        justify-content: flex-start;
        gap: 1rem;
        margin: 1rem 0rem 2rem 4rem;
    }
    .posts-subreddit-header {
        margin-left: 3rem;
    }
    .posts-page .posts-pageNav:first-of-type, .posts-page .posts-pageNav:last-of-type {
        margin: initial;
    }
}