/* General Styles */
.navbar-layout {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: orchid;
    color: white;
    padding: 0px 1rem;
}

/* Logo / Header */
.nav-header {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
.nav-header:hover {
    color: red;
    transition: color ease-in-out 0.2s;
}

/* Search Field */
.search-field {
    border: none;
    border-radius: 0.8rem;
    height: 2.35rem;
    width: 10rem;
    margin: 0px 1rem;
    padding: 1rem;
}
.navbar-expandable .search-field {
    color: black;
}
.search-field:invalid {
    background-color: lightcoral;
    border: 1px solid rgb(233, 80, 80);
    outline: 1px solid rgb(233, 80, 80);
    transition: background-color ease-in 0.2s;
}
.form-submit-icon {
    color: white;
}

/* Buttons & Button Tray */
.nav-button-tray {
    display: flex;
    align-items: center;
    justify-items: center;
}

.nav-button, .nav-button * {
    color: white;
    font-size: 2rem;
    margin: 0.2rem;
}
.nav-button:hover {
    color: red;
    transition: color ease-in 0.2s;
    cursor: pointer;
}
.nav-button:active {
    color: yellow;
    transition: color ease-in 0.05s;
}

.navbar-smallformat {
    display: inline;
    color: white;
    align-self: center;
    justify-self: center;
}

.nav-button .MuiSvgIcon-fontSizeMedium, .nav-button.MuiSvgIcon-fontSizeMedium {
    font-size: 1.8rem;
}

/* Removing Desktop-only Buttons in favor of Hamburger Menu  */
.navbar-layout .navbar-standardformat, .navbar-layout label  {
    display: none;
}
/* Hamburger Menu */
#navbar-expandable {
    background-color: rgb(212, 150, 210);
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0px;
    z-index: 6;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    animation-duration: 0.3s;
    animation-name: slide-in-left;
    animation-direction: alternate;
}
#modal-fade {
    display: none;
    background-color: black;
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 1000%;
    z-index: 5;
    opacity: 0;
}
#modal-fade.modal-fade-active {
    display: initial;
    opacity: 0.8;
    animation-duration: 0.3s;
    animation-name: opacity-fade-in;
}
/* #modal-fade.modal-fade-inactive {
    opacity: 0;
    animation-duration: 0.3s;
    animation-name: opacity-fade-in;
    animation-direction: reverse;
} */
/* #navbar-expandable * {
    border: 1px solid rgb(233, 80, 80);
} */

/* hack to fix CSS for searchbar */
#navbar-expandable.hamburger-open .navbar-smallformat {
    display:inline;
}
#navbar-expandable.hamburger-open .navbar-subreddits-closed {
    display: none;
}

.navbar-dropdown-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.navbar-dropdown-menu li {
    margin: 0px 10px;
}
.navbar-dropdown-menu li a {
    text-decoration: none;
    color: white;
}

.hamburger-closed {
    display: none;
}
.hamburger-open {
    display: flex;
}
    
/* Keyframe Animations */
@keyframes slide-in-left {
    from {
        left: -100%;
    }
    to {
        left: 0px;
    }
}
@keyframes opacity-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

/* Media Breakpoints */
@media screen and (max-width: 1000px) {
    .search-field {
        max-width: 15rem;
    }
  }

/* Tablets, Large Phones in Landscape*/
@media screen and (min-width: 480px) {

}

/* Large Tablets in Landscape, Desktop */
@media screen and (min-width: 1025px) {
    .search-field {
        width: 30rem;
    }
    .navbar-layout {
        padding: 0px 2rem;
    }

    /* Reset Nav Buttons for Desktop, hide Small Format buttons */
    .navbar-layout .nav-button, .navbar-layout label, 
    .nav-button-tray .navbar-standardformat, .navbar-layout .navbar-standardformat {
        display: initial;
    }
    .nav-button-tray .navbar-smallformat, .hamburger-open {
        display: none;
        align-self: center;
    }
}