.page-container .sidebar-container {
    display: none;
}

.sidebar-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sidebar-item {
    list-style: inherit;
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    margin: 0.8rem 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #F3e5f2;

}

.sidebar-list {
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.sidebar-link {
    text-decoration: none;
    z-index: 8;
    color: #0f4a85;
} 

  /* Tablets, Large Phones in Landscape*/
  @media screen and (min-width: 480px) {

  }

  /* Large Tablets in Landscape, Desktop */
  @media screen and (min-width: 1025px) {
    
    .page-container .sidebar-container {
        display: initial;
    }

    .sidebar-container p {
        justify-self: flex-start;
        align-self: center;
        font-size: 1.23rem;
        z-index: 3;
    }
    
    .sidebar-header {
        margin-bottom: 1rem;
    }
    
    .sidebar-item, .sidebar-item {
        transition: background-color ease-in-out 0.2s;
    }
    .sidebar-item:first-child{
        margin-top: 0px;
    }
    .sidebar-item:last-child {
        margin-bottom: 0px;
    }
    .sidebar-item:hover {
        background-color: rgba(216, 128, 213, 0.5);
    }
    .sidebar-item a {
        transition: color ease-in-out 0.2s;
    }
    .sidebar-item:hover a {
        color: white;
    }
    
    
    
}

